<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>No Public Items Found</title>
  <updated><%= up %></updated>
  <id>http://gplusfeed.heroku.com/<%= p %></id>
  <entry>
    <title>No Public Items Found</title>
    <link href="http://plus.google.com/<%= p %>"/>
    <id>http://gplusfeed.heroku.com/<%= p %>?lastupdated=<%= up %></id>
    <updated><%= up %></updated>
    <summary>Google+ user <%= p %> has not made any posts public.</summary>
  </entry>
</feed>
